{% extends 'base.html' %}

{% block title %}Feature 3{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />

<style>
       body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 20px 0;
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        th, td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #007bff;
            color: white;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
</style>
{% endblock %}

{% block content %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Also Called</th>
                    <th>Groups</th>
                    <th>Resources</th>
                </tr>
            </thead>
            <tbody>
                {%  if "health-topic" in json_data["health-topics"] %}
                {% for health_topic in json_data["health-topics"]["health-topic"] %}
                <tr>
                    <td>{{health_topic["@title"]}}</td>
                    <td>{{health_topic["@meta-desc"]}}</td>
                    <td>
                        <ul>
                            {% if "also-called" in health_topic %}
                            {% if health_topic["also-called"] is iterable %}
                            {% if health_topic["also-called"] is string %}  
                            <li><a href="{{health_topic["@url"]}}">{{health_topic["also-called"]}}</a></li>
                            {% else %}
                            {% for item in health_topic["also-called"] %}
                            <li><a href="{{health_topic["@url"]}}">{{item}}</a></li>
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            {% else %}
                            N/A
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% if "group" in health_topic %}
                                {% if health_topic["group"] is mapping %}
                            <li><a href="{{health_topic["group"]["@url"]}}">{{health_topic["group"]["#text"]}}</a></li>
                                {% else %}
                                    {% if health_topic["group"] is iterable and not health_topic["group"] is string %}
                                        {% for group_ in health_topic["group"] %}
                            <li><a href="{{group_["@url"]}}">{{group_["#text"]}}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% if "site" in health_topic %}
                                {% if health_topic["site"] is mapping %}
                            <li><a href="{{health_topic["site"]["@url"]}}">{{health_topic["site"]["@title"]}}</a></li>
                                {% else %}
                                    {% if health_topic["site"] is iterable and not health_topic["site"] is string %}
                                        {%- for reference in health_topic["site"] %}
                                            {% if loop.index <= 2 %}
                            <li><a href="{{reference["@url"]}}">{{reference["@title"]}}</a></li>
                                            {% endif %}
                                        {%- endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
                {%  endif %}
            </tbody>
        </table>
{% endblock %}