{% extends 'base.html' %}

{% block title %}Tarea Programada 1{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
{% endblock %}

{% block style1 %}{{url_for('static', filename='style.css')}}{% endblock %}

{% block content %}
    <div class="section">
        <h1>MedlinePlus: health topics registry</h1>
        <p><h6>Date of last update of data: {{ date }}</h6></p>
        <p><h6>Time of last update of data: {{ time }}</h6></p>
        <p><h6>Number of items: {{ counts }}</h6></p>
    </div>
{% endblock %}